.live {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.matches {
    background-color: $bg3;
    width: 1000px;

    font-size: 24px;

    .match {
        display: flex;
        height: 96px;
        align-items: center;
        border-bottom: 1px solid $primary-color;
    }
    .team {
        display: flex;
        align-items: center;

        &__score {
            text-align: center;
            width: 40px;
            font-weight: 800;
        }

        &__logo img {
            height: 48px;
        }
    }


    img {
        height: 36px;
    }

    .icons {
        margin-left: auto;
        
        .mdi {
            display: inline-block;
            color: $bg1;
    
            width: 48px;
            height: 50px;
            line-height: 50px;
            font-size: 48px;
            border: none;
    
            &:hover {
                cursor: pointer;

                opacity: 0.75;
            }
        }
    }
}

.team_info {
    display: flex;
    flex-direction: column;
    flex: 1;

    .team_info__header {
        display: flex;
        align-items: center;
        font-weight: 800;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

        img {
            height: 64px;
        }
    }

    .team__heroes, .team__matches {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    }

    .hero__info {
        display: flex;
        align-items: center;
    }
    
    .team__match {
        display: flex;
        align-items: center;
        background: $bg-negative;
        justify-content: space-around;
        height: 42px;

        &.match__win {
            background: $bg-positive;
        }

        .team__logo {
            width: 60px;
            display: flex;
            justify-content: center;

            img {
                height: 32px;
            }
        }

        .team__name {
            width: 150px;
            text-overflow: ellipsis;
        }
    }
}
