.match-info {
    display: flex;
    flex-direction: column;
    height: 100%;

    .block-title {
        color: $primary-color;

        font-size: 20px;
    }

    .picks-info {
        display: flex;
        height: 48px;
        line-height: 48px;

        .info-block {
            margin: 0 16px 0 0;
        }

        .ally-pick, .enemy-pick {
            margin: 8px 8px 8px 8px;
        }

        .your_hero {
            background: $bg-neutral;
        }
    }

    .winrate {
        width: 180px;

        background: $bg-negative;

        line-height: 50px;
        font-size: 20px;
        text-align: center;
    }
    .winrate.positive {
        background: $bg-positive;
    }

    img {
        width: 40px;
        height: 40px;
        padding: 4px 4px 4px 4px;
    }

    .best-hero {
        height: 28px;
        display: flex;
        font-family: Roboto;
        flex-direction: row;
        align-items: center;

        img {
            width: 24px;
            height: 24px;
            padding: 2px 2px 2px 2px;
        }
    }    
}

