.pick-helper {
    background: $bg2;
    display: flex;
    flex-wrap: wrap;

    .heroes-container {
        position: relative;


        .heroes-view {
            display: flex;
            flex-direction: column;

            width: 1060px;
            background: $bg3;

            .heroes-subview {
                display: flex;
                flex-wrap: wrap;
                margin: 12px 0 12px 0;

                img {
                    width: 40px;
                    height: 40px;
                    padding: 4px 4px 4px 4px;
                    transition: all 0.2s ease-in-out;
                }
                img:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    background: $bg-undefined;
                }

                img.ally_selected {
                    background: $bg-positive;
                }
                img.enemy_selected {
                    background: $bg-negative;
                }
                img.filtered {
                    opacity: 0.2;
                }
            }
        }
    }
}

.calculations {
    display: flex;
    flex-direction: row;
    background: $bg2;

    .calc-block {
        margin: 0 36px 0 0;
        width: 248px;
        height: 180px;

        img {
            padding: 4px 4px 4px 4px;
            width: 40px;
            height: 40px;
        }

        .calc-result {
            height: 28px;
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
            }
        }

        .team-winrate {
            background: $bg-negative;
            line-height: 50px;
            text-align: center;
            font-size: 18px;
        }
        .team-winrate.positive {
            background: $bg-positive;
        }
        .team-winrate.empty {
            background: transparent;
        }

        .toggler {
            width: 24px;
            height: 50px;
            display: flex;
            flex-direction: column;
        
            .mdi {
                display: inline-block;
                background: $secondary-color;
                color: $bg1;
        
                width: 24px;
                height: 25px;
                line-height: 25px;
                font-size: 24px;
                border: none;
        
                &.active {
                    background: $bg1;
                    color: $secondary-color;
                }
        
                &:hover {
                    cursor: pointer;

                    opacity: 0.75;
                }
            }
        }

        .clear-heroes {
            display: inline-block;
            background: $bg1;
            color: $secondary-color;

            width: 48px;
            height: 50px;
            line-height: 50px;
            font-size: 48px;

            &:hover {
                cursor: pointer;
                opacity: 0.75;
            }
        }
    }
    .find-controller {
        display: flex;
        flex-direction: row;
    }
}


