#app {
    height: 100vh;
}
.app-header {
    display: flex;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: $bg-header;	
}
.logo {
    height: 60px;
    width: 90px;
}
.header-text {
    text-align: center;
    color: $secondary-color;
    font-size: 40px;
}
.app-body {
    display: flex;
    flex-direction: row;
    height: calc(100% - 60px);
    background: $bg2;
}
.app-content {
    width: 100%;
    height: 100%;
}
.live-circle {
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
    width: 24px;
    height: 24px;
    background: $bg-negative;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
    }
}

.team-finder {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        padding-left: 6px;
        height: 24px;
        font-size: 16px;
        -moz-box-shadow:inset 2px 2px 5px #888;
        box-shadow:inset 2px 2px 5px #888;
        border: 1px solid #b8b8b8;
    }

    .team-finder__suggested_team {
        color: $secondary-color;
    }

    .mdi {
        display: inline-block;
        color: $secondary-color;
        margin-left: 2px;

        width: 27px;
        height: 28px;
        line-height: 25px;
        font-size: 24px;
        border: none;

        &:hover {
            cursor: pointer;

            opacity: 0.75;
        }
    }
}