@import "variables.scss";
@import "reset.scss";

@import "app.scss";

@import "./components/error.scss";
@import "./components/finder.scss";
@import "./components/pickhelper.scss";
@import "./components/loading.scss";

body {
    font-family: $main-font;
}


.default-btn {
    background: $bg1;
    color: $secondary-color;

    display: inline-block;

    border: none;
    text-align: center;
    cursor: pointer;

    font-size: 16px;
    height: 50px;
    width: 100%;

    &:hover {
        opacity: 0.75;
    }
    &:active {
        border: none;
    }
}

.info-block {
    height: 48px;
    border: 1px solid $bg4;
}