$main-font: Roboto;

$primary-color: rgba(0, 0, 0, 0.7);
$secondary-color: #fff;

$bg1: rgba(0, 0, 0, 0.9);
$bg2: #e0e0e0;
$bg3: #757575;
$bg-header: #202124;

$bg-positive: rgba(0, 255, 0, 0.5);
$bg-negative: rgba(255, 0, 0, 0.5);